<div id="scopeNav" >
    <span class="filter-icon" ><img src="/m/default/media/images/filter-by-icon.svg">Filter by 
        <img src="/m/default/media/images/arrow-right-icon.svg" ></span>
        
<div class="filter-list">
    {% if need_scope_links %}
    {% if active_tab != "ask" %}
        {% if not search_state %}  {#  get empty SearchState() if there's none #}
            {% set search_state=search_state|get_empty_search_state %}
        {% endif %}
        {% if settings.ALL_SCOPE_ENABLED %}
        <input type="radio" class="filter" name="filterBy" value="all"  {% if scope == 'all' %}checked{% endif %} />{% trans %}All questions{% endtrans %} 
        {% endif %}
        {% if settings.UNANSWERED_SCOPE_ENABLED %}
        <input type="radio" class="filter" name="filterBy" value="unanswered" {% if scope == 'unanswered' %}checked{% endif %} />{% trans %}Unanswered{% endtrans %} {% endif %}
        {% if request.user.is_authenticated and settings.FOLLOWED_SCOPE_ENABLED %}
        <input type="radio" class="filter" name="filterBy" value="followed" {% if scope == 'followed' %}checked{% endif %} />{% trans %}Followed{% endtrans %}{% endif %}
    {% else %}
    <div class="scope-selector ask-message">{{ settings.WORDS_PLEASE_ASK_YOUR_QUESTION_HERE|escape }}</div>
    {% endif %}
{% endif %}
</div>
</div>